[submodule "examples/sample-flyio"]
	path = examples/sample-flyio
	url = https://github.com/latitude-dev/sample-netflix-flyio
[submodule "examples/sample-duckdb"]
	path = examples/sample-duckdb
	url = https://github.com/latitude-dev/sample-duckdb
[submodule "examples/sample-clerk"]
	path = examples/sample-clerk
	url = https://github.com/latitude-dev/sample-authentication-clerk
[submodule "examples/file-over-app"]
	path = examples/file-over-app
	url = git@github.com:latitude-dev/file-over-app.git
