[submodule "examples/sample-flyio"]
	path = examples/sample-flyio
	url = https://github.com/latitude-dev/sample-netflix-flyio
[submodule "examples/sample-netflix"]
	path = examples/sample-netflix
	url = https://github.com/latitude-dev/sample-netflix
