.*
dist
build
examples
packages/client/react/src/webcomponents
packages/client/webcomponents/loader
packages/client/webcomponents/src/components/latitude-embed/readme.md
packages/client/webcomponents/src/components.d.ts
node_modules
docs
