<svelte:head>
  <title>Netflix Analysis</title>
</svelte:head>
<View class="gap-4 p-4 md:p-8">
  <Row class="flex flex-col md:flex-row gap-8">
    <Column class="md:basis-4/12 flex flex-col">
      <Row>
        <Text.H1 class="font-bold">Netflix Analysis</Text.H1>
      </Row>
      <Row>
        <Text.H4>This data app shows titles added to Netflix over the years.</Text.H4>
      </Row>
      <Row class="mt-4 md:mt-8 gap-4">
        <Input param="start_year" type="number" value="2000" />
        <Input param="end_year" type="number" value="2024" />
      </Row>
      <Row>
        <RunButton
          class="mt-4 md:mt-8"
          queries={[
            "titles/titles-year-type",
            "titles/titles-type",
            "titles/titles-top-countries",
            "titles/titles-type-top-countries",
            "titles/titles-table"
          ]}
        >
          Run query
        </RunButton>
      </Row>
    </Column>
    <Column class="md:basis-4/12">
      <MixedChart
        query='titles/titles-year-type'
        x='release_year'
        y={[
        {name: 'count_shows', chartType: 'line'},
        {name: 'count_movies', chartType: 'line'},
        ]}
        xTitle='Year'
        yTitle='Titles'
        opts={{
          reactiveToParams: true
        }}
      />
    </Column>
    <Column class="md:basis-4/12">
      <PieChart
        query='titles/titles-type'
        x='type'
        y='count'
        title='Titles by type'
        config={{
          showHole: true
        }}
        opts={{
          reactiveToParams: true
        }}
      />
    </Column>
  </Row>
  <Row class="flex flex-col md:flex-row gap-4">
    <Column class="md:basis-6/12">
      <Row>
        <MixedChart
          query='titles/titles-top-countries'
          x='main_country'
          y={[
          {name: 'count', chartType: 'bar'},
          ]}
          xTitle='Country'
          yTitle='Titles'
          opts={{
            reactiveToParams: true
          }}
        />
      </Row>
    </Column>
    <Column class="md:basis-6/12">
      <Row>
        <MixedChart
          query='titles/titles-type-top-countries'
          x='main_country'
          y={[
          {name: 'movie_rate', chartType: 'bar'},
          {name: 'show_rate', chartType: 'bar'},
          ]}
          xTitle='Country'
          yTitle='Titles'
          opts={{
            reactiveToParams: true
          }}
        />
      </Row>
    </Column>
  </Row>
  <Row>
    <Table
      query="titles/titles-table"
      class='w-full max-h-[500px]' 
      opts={{
        reactiveToParams: true
      }} />
  </Row>
</View>
