!.env.example
.DS_Store
.env
.env.*
/.svelte-kit
/build
/package
node_modules
/queries
static/latitude
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

// Data apps generates routes in the SvelteKit app
// We don't want to commit these routes
src/routes/*
!src/routes/api/
!src/routes/+layout.svelte
!src/routes/+layout.server.ts
