@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .custom-scrollbar {
    /** Make scrollbar to not take space **/
    overflow: overlay !important;
  }
  .custom-scrollbar::-webkit-scrollbar {
    @apply w-5 h-5;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
    @apply rounded-full bg-clip-padding border-solid;
    @apply border-transparent border-[6px];
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
