@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow: -moz-scrollbars-none; /* Firefox */
  }
  .custom-scrollbar {
    /** Make scrollbar to not take space **/
    overflow: overlay !important;
  }
  .custom-scrollbar::-webkit-scrollbar {
    @apply lat-h-5 lat-w-5;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply lat-bg-gray-400;
    @apply lat-rounded-full lat-border-solid lat-bg-clip-padding;
    @apply lat-border-[6px] lat-border-transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  * {
    @apply lat-border-border;
  }
  body {
    @apply lat-bg-background lat-text-foreground;
  }
}
