@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .custom-scrollbar {
    /** Make scrollbar to not take space **/
    overflow: overlay !important;
  }
  .custom-scrollbar::-webkit-scrollbar {
    @apply lat-w-5 lat-h-5;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply lat-bg-gray-400;
    @apply lat-rounded-full lat-bg-clip-padding lat-border-solid;
    @apply lat-border-transparent lat-border-[6px];
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  * {
    @apply lat-border-border;
  }
  body {
    @apply lat-bg-background lat-text-foreground;
  }
}
