<script>
  import Clerk from '@clerk/clerk-js';
  import { PUBLIC_CLERK_API_KEY } from '$env/static/public';
  import { onMount } from 'svelte'

  let user
  let loading = true

  onMount(async () => {
    const clerk = new Clerk(PUBLIC_CLERK_API_KEY);
    await clerk.load();

    if (clerk.user) {
      clerk.signOut()

      user = clerk.user
    } else {
      clerk.redirectToSignIn()
    }
  })
</script>

  <Row class='pt-24 items-center justify-center w-full h-full'>
    <Column>
{#if user} 
      <Text.H1 weight='bold'>
        Welcome back, {user.fullName}! 
      </Text.H1>
{:else if loading}
      <Text.H1 weight='bold'>
        Loading...
      </Text.H1>
{:else} 
      <Text.H1 weight='bold'>
        Redirecting to sign in...
      </Text.H1>
{/if}
    </Column>
  </Row>
